body {
    background-image: url(assets/bg1.jpeg);
    background-repeat: repeat;
    background-position: center center;
    background-size: contain;
}

.content {
    border: 5px solid black;
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    width: 100%;
    height: auto;
    color: white;
    font-size: 25px;
}

h2, p {
    align-items: center;
    justify-content: center;
    text-align: center;
}

ul {
    text-align: left;
}

.imp {
    color: gold;
}

